/Ejemplo/nbproject/private/
/Ejemplo/build/
/Tarea1/nbproject/private/
/Tarea1/build/
/NuevaSolucion/nbproject/private/
/NuevaSolucion/build/
/Ejemplo2/nbproject/private/
/Clase3/Ejemplo1/nbproject/private/
/Clase3/tarea2/nbproject/private/
/Clase3/tarea2/build/